%p
  = kanji.kanji
  = image_tag "kanjis/#{kanji.kanji}.png" if File.exists?("public/images/kanjis/#{kanji.kanji}.png")
  
  %p 
    Meanings
    %ul
      - for meaning in KLookup::Lookup::Kanji.new(kanji.kanji).meaning
        %li= meaning

  %p 
    Examples
    %ol
      - for word in kanji.words
        %li= link_to word.word, word_path(word)
