%table
  %tr
    %td
      %span.kanji= kanji.kanji
      %span.strokes= "strokes: #{KLookup::Lookup::Kanji.new(kanji.kanji).stroke_count}"
    %td= image_tag "kanjis/#{kanji.kanji}.png" if File.exists?("public/images/kanjis/#{kanji.kanji}.png")
  
  %tr
    %td Meanings:
    %td= KLookup::Lookup::Kanji.new(kanji.kanji).meaning.join(", ")
  %tr
    %td Radicals:
    %td= KLookup::Lookup::Kanji.new(kanji.kanji).radical.join(", ")
  %tr
    %td Readings:
    %td
      - for readings in KLookup::Lookup::Kanji.new(kanji.kanji).reading
        = readings.join(" | ")
  %tr
    %td Examples:
    %td
      - for word in kanji.words
        = link_to word.word, word_path(word)
