%h3 Show Kanji

%table
  %tr
    %td
      %span.kanji= @kanji.kanji
      %span.strokes= "strokes: #{@kanji_obj.stroke_count}"
    %td= image_tag "kanjis/#{@kanji.kanji}.png" if File.exists?("public/images/kanjis/#{@kanji.kanji}.png")
  
  %tr
    %td Meanings:
    %td= @kanji_obj.meaning.join(", ")
  %tr
    - if @radicals.any?
      %td Radicals:
      %td
        - for radical in @radicals
          - if radical.is_a?(Kanji)
            = link_to radical.kanji, radical
          - else
            = radical
  %tr
    %td Readings:
    %td= @kanji_obj.reading.reading.join(" | ")

  - if @examples.any?
    %tr
      %td Examples:
      %td
        - for word in @examples
          = link_to word.word, word_path(word)

%p= link_to "« Back", :back
