%div#print_list

  %h3 
    Show List
    %span.smaller= "( #{@list.name} )"

  - for word in @words
    %p
      = "#{word.word} ( #{word.reading} )"
      %ul
        - for meaning in meanings_of_word_on_a_list(word.meanings, @meanings) 
          %li= meaning.meaning

  %p
    = link_to "« Back", :back
    = link_to_function "Print", "javascript:print()"
