%p
  - word.word.each_char do |c|
    - if KLookup::Lookup::Kanji.exist?(c)
      = link_to c, kanji_path(Kanji.find_by_kanji(c))
    - else
      = c
  = "(#{word.reading})"

  %ul
    = render word.meanings
    
%p
  = link_to "Add meaning", new_word_meaning_path(word) if user_signed_in?
  = link_to "Delete word", word, :confirm => "Are you sure?", :method => :delete if admin_signed_in?
