%p.word
  - word.word.each_char do |c|
    - if KLookup::Lookup::Kanji.exist?(c)
      = link_to c, kanji_path(Kanji.find_by_kanji(c))
    - else
      = c
  - if user_signed_in?
    (
    = on_the_spot_edit word, :reading, :ok_text => "✔", :cancel_text => "✗", :toolpit => "Edit reading"
    = link_to word.reading, edit_word_path(word), :class => 'hide'
    )
  - else
    = "(#{word.reading})"

  %ul
    = render word.meanings
    
%p
  = link_to "Add meaning", new_word_meaning_path(word), :class => 'small' if user_signed_in?
  = link_to "Delete word", word, :class => 'small', :confirm => "Are you sure?", :method => :delete if admin_signed_in?

