%h3 
  Edit word reading
  %span.smaller= "[ #{@word.word} ( #{@word.reading} ) ]"

= form_for @word do |f|
  = render 'shared/errors', :target => @word

  %ul
    %li
      = f.label :reading
      = f.text_field :reading

    %li= f.submit

%p= link_to "« Back", words_path
