%h2 
  Words index
  (
  = form_for @search, :url => words_path, :html => { :method => :get, :class => 'smaller' } do |f|
    = f.text_field :word_or_reading_or_meanings_meaning_contains
    = f.submit "Search"
  )
  %span.float_right= link_to "Add word", new_word_path, :class => 'smaller' if user_signed_in?

= render @words

%p= will_paginate @words
