%h2 New word

= form_for @word do |word_form|
  = render 'shared/errors', :target => @word

  %p
    = word_form.label :word
    %br
    = word_form.text_field :word

  %p
    = word_form.label :reading
    %br
    = word_form.text_field :reading

  %p= word_form.submit

= link_to "Back", words_path
