%h3 New word

= form_for @word do |word_form|
  = render 'shared/errors', :target => @word

  %ul
    %li
      = word_form.label :word
      = word_form.text_field :word
    %li
      = word_form.label :reading
      = word_form.text_field :reading

    %li= word_form.submit

%p= link_to "« Back", words_path
