%h3 New meaning

= form_for([@word, @meaning]) do |f|
  = render 'shared/errors', :target => @meaning

  %ul
    %li
      = f.label :meaning
      = f.text_field :meaning

    %li= f.submit

%p
  = link_to "« Back", words_path
  = link_to "Add word", new_word_path if user_signed_in?
